$green1: #99C355;
$green2: #99C355;
$green3: #8CC355;
$green4: #99C355;

$gray1: #EDEDED;
$gray2: #D1D3D4;

$black1: #7E7F8A;
$black2: #4B4C55;
$black3: #2E2E2C;

$bg_b1: #2C2C2E;

$breakpoint-xxl : 1920px;
$breakpoint-xl : 1500px;
$breakpoint-lg : 1300px;
$breakpoint-ml : 1150px;
$breakpoint-md : 980px;
$breakpoint-sm : 768px;
$breakpoint-xs : 500px;

$breakpoints: (
  "xl\\+" "screen and (min-width: #{$breakpoint-xl})",
  "lg\\+" "screen and (min-width: #{$breakpoint-lg})",
  "md\\+" "screen and (min-width: #{$breakpoint-md})",
  "sm\\+" "screen and (min-width: #{$breakpoint-sm})",
  "xs\\+" "screen and (min-width: #{$breakpoint-xs})",

  "xl-" "screen and (max-width: #{$breakpoint-xl - 1px})",
  "lg-" "screen and (max-width: #{$breakpoint-lg - 1px})",
  "md-" "screen and (max-width: #{$breakpoint-md - 1px})",
  "sm-" "screen and (max-width: #{$breakpoint-sm - 1px})",

  "lg" "screen and (min-width: #{$breakpoint-lg - 1px}) and (max-width: #{$breakpoint-xl - 1px})",
  "md" "screen and (min-width: #{$breakpoint-md - 1px}) and (max-width: #{$breakpoint-lg - 1px})",
  "sm" "screen and (min-width: #{$breakpoint-sm - 1px}) and (max-width: #{$breakpoint-md - 1px})",
);
