<section id="t2c" class="t2c">
    <div class="t2c__wrapper wrapper">
        <h3 class="section__title t2c__title">{{layout.tytul}}</h3>
        <div class="t2c__row">
            <div class="t2c__col">
                <div class="section__desc">{{layout.tekst1}}</div>
            </div>
            <div class="t2c__col">
                <div class="section__desc">{{layout.tekst2}}</div>
            </div>
        </div>
    </div>
</section>