<section id="tzt" class="tzt">
    <div class="wrapper tzt__wrapper">
       <div class="tzt__col">
            <h3 class="section__title tzt__title">{{layout.tzt_tytul}}</h3>
       </div>
       <div class="tzt__col">
            <div class="section__desc tzt__desc">{{layout.tzt_desc}}</div>
       </div>
    </div>
</section>