<section id="post_ed" class="post__ed ed post__section">
    <div class="ed__wrapper wrapper">
        <div class="section__desc">
            {{layout.edytor_tekstu}}
        </div>
    </div>
</section>