<section id="post_po" class="post__po po post__section">
    <div class="po__wrapper wrapper">
        {% include 'elements/image.twig' with {img:layout.obraz, class:"po__img"} only %}
    </div>
</section>